/* default */
.navbar {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    font-size: 0.65rem;
    background-color: gray;
}

.navbar-logo {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-logo img {
    width: 80%;
}

.navbar-list {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.first-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
    font-size: 0.95rem;
    font-weight: bold;
}

.icon-button {
    display: none;
}

.menu-content {
    display: none;
}

@media only screen and (min-width: 992px) {

    .navbar {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        font-size: 0.65rem;
        background-color: gray;
    }

    .navbar-logo {
        width: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-logo img {
        width: 80%;
    }

    .navbar-list {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .first-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    li {
        list-style: none;
        font-size: 0.95rem;
        font-weight: bold;
    }


    .icon-button {
        display: none;
    }

    .menu-content {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    .navbar {
        height: 8vh;
        display: flex;
        justify-content: space-between;
        font-size: 0.65rem;
        background-color: gray;
    }

    .navbar-logo {
        width: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-logo img {
        width: 80%;
    }

    .navbar-list {
        display: none;
    }

    .icon-button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        color: black;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        font-size: 2rem;
    }


    .menu-content {
        display: none;
        margin-top: 10px;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: left;
    }

    #toggle:checked+.icon-button+.menu-content {
        display: block;
    }

}